__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
ENV/
env/
.conda/

.DS_Store
Thumbs.db
.vscode/
.idea/

.env
.env.*
condaenv.*
!.env.example

*.db
*.sqlite
*.sqlite3

.log/
*.log

.pytest_cache/
.coverage
htmlcov/

.mypy_cache/
.pyright/

build/
dist/
*.egg-info/
